<h1>List of events</h1>


<h2>Past events</h2>
<%@events.past.each do |event|%>

  <h4><%= event.title%></h4>
  <p><%=link_to "View details", event_path(event)%></p>
  <p><%=link_to "Attend", event_attendings_path(event_id: event.id), method: :create%></p>
  <% end %>
<h2>Upcoming events</h2>
<%@events.upcoming.each do |event|%>

  <h4><%= event.title%></h4>
   <p><%=link_to "View details", event_path(event)%></p>
  <p><%=link_to "Attend", event_attendings_path(event_id: event.id), method: :create%></p>
<% end %>
